<hibernate-configuration>
    <session-factory>

        <!-- DB -->
        <property name="hibernate.connection.driver_class">
            com.mysql.cj.jdbc.Driver
        </property>
        <property name="hibernate.connection.url">
            jdbc:mysql://localhost:3306/practice
        </property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">"Your Password"</property>

        <!-- Hibernate -->
        <property name="hibernate.dialect">
            org.hibernate.dialect.MySQLDialect
        </property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- MAPPINGS -->
        <mapping class="com.kodnest.manytoone.Player"/>
        <mapping class="com.kodnest.manytoone.Team"/>

    </session-factory>
</hibernate-configuration>
